.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #2c0a4d;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #ff0000;
  font-size: 8rem;
  color: #5900ff;
}

p {
  font-size: 2rem;
  color: #f74012;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}